<!--<header class="site-header">-->
<!--    <div class="wrapper">-->
<!--        <nav class="navbar navbar-default" role="navigation">-->
<!--            <div class="container-fluid">-->
<!--                <div class="navbar-header">-->
<!--                    <a class="navbar-brand" href="http://www.pihuazhenduo.com/blog">Johnlisk Den</a>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <ul class="nav navbar-nav">-->
<!--                        <li><a class="navbar-brand" href="http://www.pihuazhenduo.com">屁话真多➡️</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </div>-->
<!--</header>-->

<div id="nav" class="container ys-nav-expand-flex">
    <div class="navbar navbar-expand-sm">
        <a href="#" class="navbar-brand" style="font-size: 42px">HONDA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ns" aria-controls="ns" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="ns">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-3 text-white fa-circle">Home</li>
                <li class="mx-3 text-white">Models</li>
                <li class="mx-3 text-white">Journalism</li>
                <li class="mx-3 text-white">Activities</li>
                <li class="mx-3 text-white">Download wallpaper</li>
            </ul>
        </div>
    </div>
</div>
