<header class="site-header">
    <div class="wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">屁话真多</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.pihuazhenduo.com"><span class="glyphicon glyphicon-log-in"></span> 屁话真多</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>


