<header class="site-header">
    <div class="wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid" style="margin: 0 auto;width: 700px">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.pihuazhenduo.com/blog/">屁话真多-干涵的blog</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.pihuazhenduo.com/blog/"><span class="glyphicon glyphicon-log-in"></span> 屁话真多</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>


