<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>备案详情</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.13.2/lib/index.js"></script>
    <!--    以下是微信JS-SDK的文件，必须引入-->
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>

<div style="margin: 0 auto;width: 95%">
    <ul>
        <li>出校备案编号: 12312323 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#2a7ae2"> 当日返校已备案</font></li>

        <li>提交时间: 2020-02-20 20:20:20</li>
        <li>姓名: 柴婕</li>
        <li>学号: 20125552</li>


    </ul>


</div>
</body>
</html>