#nav {
   background-color: #e12241;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    border: 1px solid rgba(255, 255, 255, 0.8);
}

/* @media (max-width: 576px) {    <=576的设备 }*/

@media (min-width: 576px) {  /* >=576的设备 */
    .navbar {
        display: inline-flex;
    }
    #nav {
        text-align:center;
    }
}